* {
  margin: 0;
  padding: 0;
}
body {
  margin: 0;
  font-family: "VT323", monospace;
}
#game {
  width: 400px;
  height: 500px;
  border: 2px solid black;
  margin: auto;
  background: url(/image/world.jpg);
  background-size: contain;
  overflow: hidden;
}
#block {
  width: 38px;
  height: 500px;
  background: url(/image/blockbg.jpg);
  background-size: contain;
  position: relative;
  left: 400px;
  animation: block 2s infinite linear;
  display: flex;
  justify-content: center;
  align-items: center;
}
@keyframes block {
  0% {
    left: 400px;
  }
  100% {
    left: -50px;
  }
}
#hole {
  max-width: 50px;
  height: 160px;
  background: url(/image/holebg.jpg);
  background-repeat: no-repeat;
  background-size: contain;
  position: relative;
  left: 400px;
  top: -500px;
  animation: block 2s infinite linear;
}
#character {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 100px;
  margin-left: 50px;
  display: flex;
}
#character img {
  justify-content: center;
  align-items: center;
}
#score {
  font-size: 25px;
  color: #fff;
  left: 350px;
  position: absolute;
  top: 10px;
}
#score h1 {
  font-size: 25px;
}
